## Little Lemon - Booking System - Python app

## Module 3 - Add query function - Task 1: 
Install python / mysql connector. Access to `little_lemon_db` database. Create cursor.

In [ ]:
# Install mysql-connector-python
%pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp313-cp313-macosx_14_0_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.3.0-cp313-cp313-macosx_14_0_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 4.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Import mysql.connector
import mysql.connector as connector

In [17]:
# Establish connection b/w Python and MySQL database via connector API
connection = connector.connect(user = "admin", password = "admin", db = "little_lemon_db")

In [18]:
# Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

In [19]:
# Set the little_lemon database for use 
cursor.execute("USE little_lemon_db")

# Confirm the database in use
connection.database

'little_lemon_db'

## Module 3 - Add query function - Task 2:
Query the database to show all tables within the database

In [ ]:
# SQL query
show_tables_query = "SHOW TABLES" 

# Execute query
cursor.execute(show_tables_query)

# Fetch and print results
results = cursor.fetchall()
print(results)

[('Bookings',), ('Customers',), ('Delivery',), ('Menus',), ('Orders',), ('ordersview',), ('Staffs',)]

## Module 3 - Add query function - Task 3:
Query the database to full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign

In [21]:
# SQL query
stmt = """
SELECT cm.FullName, cm.Email, od.OrderID, od.TotalCost
FROM Customers AS cm INNER JOIN Orders AS od ON cm.CustomerID = od.CustomerID
WHERE od.TotalCost > 60;
"""

# Execute query
cursor.execute(stmt)

# Fetch and print results
cols = cursor.column_names
results = cursor.fetchall()

# Convert tuple to list to change type
results_list = list(results)

print(cols)
for result in results_list:
    result_list = list(result)
    result_list[3] = str(result_list[3])
    print(result_list)

('FullName', 'Email', 'OrderID', 'TotalCost')
['Diana Pinto', 'dpinto@chef.net', 1, '100.50']
['Marcos Romero', 'mr@company.com', 2, '200.00']
['Hiroki Yamane', 'hiroki@yamane', 3, '60.90']
['Joakim Iversen', 'xyz@a.com', 4, '900.50']
['Marcos Romero', 'mr@company.com', 6, '100.50']
['Joakim Iversen', 'xyz@a.com', 7, '200.00']
['Anna Iversen', 'abc@gmail.com', 8, '60.90']
['Hiroki Yamane', 'hiroki@yamane', 9, '900.50']
['Vanessa McCarthy', 'hello@me.com', 10, '805.00']

In [14]:
print(type(results[0]))

<class 'tuple'>